<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    
    <ion-list-header color="primary">
      <ion-label>Menú de app</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-button [routerLink]="['/tres']">Iniciar Sesión</ion-button>
    </ion-item>
    
    <ion-item>
      <ion-button [routerLink]="['/dos']">Restablecer Contraseña</ion-button>
    </ion-item>

    <br><br><br>

    <ion-item *ngIf="isMobile">
    <ion-button (click)="downloadAPK()">Descargar APK</ion-button>
    </ion-item>
    

  </ion-list>
</ion-content>

